*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI',sans-serif;
}

body{
    display:flex;
    min-height:100vh;

    background:#0f0f0f;

    color:white;
}

/* SIDEBAR */

.sidebar{
    width:260px;

    background:#161616;

    border-right:1px solid #2d2d2d;

    padding:20px;
}

.logo{
    font-size:30px;
    font-weight:bold;

    color:#f5b041;

    display:flex;
    align-items:center;
    gap:12px;

    margin-bottom:45px;
}

.sidebar ul{
    list-style:none;
}

.sidebar ul li{
    margin-bottom:15px;
}

.sidebar ul li a{
    text-decoration:none;

    color:#ddd;

    display:flex;
    align-items:center;
    gap:14px;

    padding:15px;

    border-radius:16px;

    transition:.3s;
}

.sidebar ul li a:hover{

    background:#f5b041;

    color:black;

    transform:translateX(5px);

}

/* MAIN */

.main{
    flex:1;

    padding:25px;
}

/* TOPBAR */

.topbar{
    display:flex;
    justify-content:space-between;
    align-items:center;

    margin-bottom:35px;
}

.topbar h1{
    font-size:36px;
    color:#fff;
}

.install-btn{
    border:none;

    background:#f5b041;

    color:black;

    padding:13px 22px;

    border-radius:14px;

    font-weight:bold;

    cursor:pointer;

    transition:.3s;
}

.install-btn:hover{

    transform:scale(1.05);

}

/* CARDS */

.cards{

    display:grid;

    grid-template-columns:
    repeat(auto-fit,minmax(240px,1fr));

    gap:22px;

}

.card{

    background:#1b1b1b;

    border:1px solid #2d2d2d;

    border-radius:24px;

    padding:25px;

    transition:.3s;

    box-shadow:
    0 0 20px rgba(0,0,0,.3);

}

.card:hover{

    transform:translateY(-8px);

    border-color:#f5b041;

}

.card-icon{

    width:65px;
    height:65px;

    border-radius:18px;

    background:#2b2b2b;

    display:flex;
    align-items:center;
    justify-content:center;

    font-size:26px;

    color:#f5b041;

    margin-bottom:20px;
}

.card h2{

    font-size:20px;

    margin-bottom:14px;

    color:#ddd;
}

.card p{

    font-size:32px;

    font-weight:bold;

    color:#f5b041;
}

/* MOBILE */

@media(max-width:768px){

    body{
        flex-direction:column;
    }

    .sidebar{
        width:100%;
    }

    .topbar{
        flex-direction:column;
        align-items:flex-start;
        gap:15px;
    }

}
